[submodule "orchestrator/faas-netes"]
	path = orchestrator/faas-netes
	url = https://github.com/lilanpei/faas-netes.git
[submodule "orchestrator/faas"]
	path = orchestrator/faas
	url = https://github.com/lilanpei/faas.git
