[submodule "openfaas/faas-netes"]
	path = openfaas/faas-netes
    url = https://github.com/lilanpei/faas-netes.git
    branch = MaxReplicas

[submodule "openfaas/faas"]
	path = openfaas/faas
    url = https://github.com/lilanpei/faas.git
    branch = MaxReplicas