.DS_Store
openfaas-functions/build/
orchestrator/__pycache__/
utilities/__pycache__
autoscaling_env/__pycache__
orchestrator/logs_farm/
# Ignore everything in the template directory
openfaas-functions/template/*
plots/*
# Except the python3-http-skeleton directory
!plots/plot_metrics.py
!openfaas-functions/template/python3-http-skeleton/
!openfaas-functions/template/python3-http-skeleton/**  # include its contents too